.bundles-list {
    overflow: hidden;
    background: #f7f7f7;
}

.bundles-list-header {
    height: 210px;
    background: #f15a22;
    color: #fff;
    text-align: center;
    padding: 35px 0 0 0;
    margin: 0 0 20px 0;
}

.bundles-list-header h1 {
    font-size: 45px;
    font-weight: 600;
}

.bundles-list-header h2 {
    font-size: 23px;
    font-weight: 600;
}

.bundles-list-content .bundle-list-settings h2 {
    font-size: 21px;
    font-weight: 600;
    color: #f15a22;
}

.bundles-list-content ul.bundle-list-settings-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bundles-list-content ul.bundle-list-settings-list li {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.bundles-list-content ul.bundle-list-settings-list li a {
    color: #63605d;
    font-weight: 600;
    line-height: 16px;
}

.bundles-list-content ul.bundle-list-settings-list li a:hover,
.bundles-list-content ul.bundle-list-settings-list li.active a {
    font-weight: 700;
    text-decoration: none;
}

.bundles-list-content ul.bundle-list-settings-list li a:hover:after,
.bundles-list-content ul.bundle-list-settings-list li.active a:after {
    content: '\f105';
    font-family: FontAwesome;
    font-weight: 700;
    font-size: 16px;
    padding-left: 10px;
}

.bundle-list-settings-list.platform-version input[type="checkbox"] {
    display:none;
}

.bundle-list-settings-list.platform-version label div {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 2px solid #d3d3d3;
    text-align: center;
    line-height: 16px;
    margin-right: 6px;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
}

.bundle-list-settings-list.platform-version label {
    font-weight: 600;
}

.bundle-list-settings-list.platform-version label i {
    font-size: 16px;
    opacity: 0;
    color: #f15a22;
}

.bundle-list-settings-list.platform-version label:hover {
    cursor: pointer;
}

.bundle-list-settings-list.platform-version input:checked+label i {
    opacity: 1;
}

.bundles-list-container h2 {
    font-size: 21px;
}

.bundles-list-container .sort-container {
    padding: 10px 15px 0 15px;
}
