{% extends '@ezdesign/pagelayout.html.twig' %}

{% block main %}
    <main class="white-background">
{% endblock %}

{% block content %}
    <div class="container article">
        <h1>{{ ez_content_name(content) }}</h1>

        {% if not ez_is_field_empty(content, 'intro') %}
            <div class="article-intro">
                {{ ez_render_field(content, 'intro') }}
            </div>
        {% endif %}

        <div class="article-body">
            {{ ez_render_field(content, 'body') }}
        </div>

        <div class="iframe-container">
            <iframe src="https://communitymetrics.ez.no/app/kibana#/dashboard/e8dca940-7d3a-11e7-a3ec-639c36c57655?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow-1y%2Cmode%3Aquick%2Cto%3Anow))" height="600" width="800" allowfullscreen="" frameBorder="0"></iframe>
        </div>
    </div>
{% endblock %}